/* roboto-100 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("webfonts/roboto-v18-latin-100.eot"); /* IE9 Compat Modes */
  src: local("Roboto Thin"), local("Roboto-Thin"),
    url("webfonts/roboto-v18-latin-100.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("webfonts/roboto-v18-latin-100.woff2") format("woff2"),
    /* Super Modern Browsers */ url("webfonts/roboto-v18-latin-100.woff")
      format("woff"),
    /* Modern Browsers */ url("webfonts/roboto-v18-latin-100.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("webfonts/roboto-v18-latin-100.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

/* roboto-100italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("webfonts/roboto-v18-latin-100italic.eot"); /* IE9 Compat Modes */
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"),
    url("webfonts/roboto-v18-latin-100italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("webfonts/roboto-v18-latin-100italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("webfonts/roboto-v18-latin-100italic.woff")
      format("woff"),
    /* Modern Browsers */ url("webfonts/roboto-v18-latin-100italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("webfonts/roboto-v18-latin-100italic.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("webfonts/roboto-v18-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"),
    url("webfonts/roboto-v18-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("webfonts/roboto-v18-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("webfonts/roboto-v18-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("webfonts/roboto-v18-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("webfonts/roboto-v18-latin-300.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

/* roboto-300italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("webfonts/roboto-v18-latin-300italic.eot"); /* IE9 Compat Modes */
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
    url("webfonts/roboto-v18-latin-300italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("webfonts/roboto-v18-latin-300italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("webfonts/roboto-v18-latin-300italic.woff")
      format("woff"),
    /* Modern Browsers */ url("webfonts/roboto-v18-latin-300italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("webfonts/roboto-v18-latin-300italic.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("webfonts/roboto-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("webfonts/roboto-v18-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("webfonts/roboto-v18-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("webfonts/roboto-v18-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("webfonts/roboto-v18-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("webfonts/roboto-v18-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  src: url("webfonts/roboto-v18-latin-italic.eot"); /* IE9 Compat Modes */
  src: local("Roboto Italic"), local("Roboto-Italic"),
    url("webfonts/roboto-v18-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("webfonts/roboto-v18-latin-italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("webfonts/roboto-v18-latin-italic.woff")
      format("woff"),
    /* Modern Browsers */ url("webfonts/roboto-v18-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("webfonts/roboto-v18-latin-italic.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("webfonts/roboto-v18-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("webfonts/roboto-v18-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("webfonts/roboto-v18-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("webfonts/roboto-v18-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("webfonts/roboto-v18-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("webfonts/roboto-v18-latin-700.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

/* roboto-700italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("webfonts/roboto-v18-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"),
    url("webfonts/roboto-v18-latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("webfonts/roboto-v18-latin-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("webfonts/roboto-v18-latin-700italic.woff")
      format("woff"),
    /* Modern Browsers */ url("webfonts/roboto-v18-latin-700italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("webfonts/roboto-v18-latin-700italic.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("webfonts/roboto-v18-latin-900.eot"); /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"),
    url("webfonts/roboto-v18-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("webfonts/roboto-v18-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("webfonts/roboto-v18-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("webfonts/roboto-v18-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("webfonts/roboto-v18-latin-900.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

/* roboto-900italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("webfonts/roboto-v18-latin-900italic.eot"); /* IE9 Compat Modes */
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"),
    url("webfonts/roboto-v18-latin-900italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("webfonts/roboto-v18-latin-900italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("webfonts/roboto-v18-latin-900italic.woff")
      format("woff"),
    /* Modern Browsers */ url("webfonts/roboto-v18-latin-900italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("webfonts/roboto-v18-latin-900italic.svg#Roboto") format("svg"); /* Legacy iOS */
}

body {
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: #52ea3c;
  font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 900;
}

#header img {
  width: 70vw;
}

#header {
  display: block;
  text-align: center;
  width: 100%;
  padding: 30vh 0;
  border-bottom: 25px solid black;
  top: 0;
  background: white;
  z-index: 2;
}

#container {
  border-bottom: 25px solid black;
  width: 100%;
  padding-top: 34vh;
}

#container .content {
  background-color: white;
  width: 50%;
  margin: 0px auto 60px auto;
  padding: 1.5% 3%;
  box-sizing: border-box;
}

.boite {
  display: flex;
  justify-content: space-evenly;
}

.boite a:not(footer .boite a) {
  width: 100%;
  max-width: 50%;
  text-decoration: none;
  color: black;
  text-align: center;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 4px white, inset 0 0 0 8px black;
  margin: 0 auto;
  padding: 24px 12px;
}

footer .boite a {
  color: black;
  text-align: center;
  width: 40%;
}

.boite img {
  max-width: 150px;
  width: 80%;
  max-height: 90px;
  height: auto;
  object-fit: contain;
  margin: auto;
}

footer {
  background-color: white;
  padding: 1em;
}

a {
  color: #52ea3c;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

#passele {
  display: block;
  margin: auto;
}

img#passele {
  width: 38vw;
}

.centerimg {
  width: 100%;
}

.centerimg img,
.centerimg a {
  width: 122px;
  margin: 1em auto;
  display: block;
  color: black;
  text-align: center;
}

footer .boite {
  width: 50%;
  margin: 0 auto 50px auto;
  align-items: stretch;
}

footer .boite b {
  margin-bottom: 10px;
  display: block;
}

footer .boite.b2 img {
  max-width: 40%;
  max-height: 40%;
}

footer {
  text-align: center;
  padding-top: 2em;
}

#loin {
  height: 0;
  display: none;
  transition: height 1s ease;
  margin-top: -200px;
  padding-top: 200px;
}

#loin:target {
  height: auto;
  display: block;
  transition: height 1s ease;
}

.rs img {
  width: 42%;
  margin: 2%;
  border: solid 4px black;
}

.cit img {
  width: 96%;
  margin: 2%;
  border: solid 4px black;
}

#title {
  display: inline;
}

#title2 {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

.ou {
  align-self: center;
  background: black;
  border-radius: 50%;
  display: flex;
  min-width: 40px;
  min-height: 40px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 -20px;
  border: 4px solid white;
  z-index: 1;
  font-weight: bold;
  font-size: 18px;
}

ol.tuto li {
  list-style-type: none;
  counter-increment: step-counter;
  clear: both;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  position: relative;
  margin-bottom: 10px;
  white-space: break-spaces;
}

ol.tuto li::before {
  content: counter(step-counter);
  border-radius: 50%;
  min-height: 35px;
  min-width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  background: #000;
  font-weight: bold;
  margin-right: 15px;
  margin-left: -35px;
}

/* Media Queries : version mobile */
@media (max-width: 1100px) {
  #container .content {
    width: 95%;
    margin: 0px auto 60px auto;
  }

  .boite {
    flex-wrap: wrap;
  }

  .boite .ou {
    position: absolute;
    min-height: 2em;
    min-width: 2em;
    font-size: 0.75em;
  }

  footer .boite {
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  footer .boite.b2 a {
    width: calc(100% / 3);
  }

  footer .boite img {
    width: auto;
    height: auto;
    max-height: 40%;
    max-width: 80%;
  }

  ol.tuto li::before {
    min-width: 1.5em;
    min-height: 1.5em;
  }
}

@media (orientation: portrait) {
  body {
    font-size: 3em;
  }

  #title2 {
    display: inline;
  }

  #title {
    display: none;
  }

  img#passele {
    width: 57vw;
  }
}
